
$--color-light: #f8f9fa

*
  box-sizing: border-box
body
  margin: 0
  padding: 0
  font-family: sans-serif
  line-height: 1.7
  background-color: $--color-light
.container
  width: 1400px
  margin: 0 auto
.player-bets
  width: 800px
  height: 500px
  background-color: darkgray
  margin: 0 auto
  margin-top: 200px
  display: block
  border-radius: 60px
  padding-top: 15px
  .bank
    text-align: center
    font-size: 25px
    margin-top: 10px

  .block-players
    display: flex
    justify-content: space-around




.button
  display: block
  margin: 0 auto
  width: 120px
  height: 40px
  background-color: red
  border-radius: 15px
  color: #f8f9fa


